<%- include('../../layouts/panel/header'); %>
<div class="container max-auto">
    <a href="/panel/chat-categories/create" class="btn btn-success">Register chatCategory</a>
    <table class="table">
        <thead class="text-center">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Option</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <% for(let category of categories) { %>
            <tr>
                <td><%= category.id %></td>
                <td><%= category.name %></td>
                <td><%= category.status %></td>
                <td>
                    <a href="/panel/chat-categories/edit/<%= category.id %>" class="text-success">Edit</a>
                    <a href="/panel/chat-categories/<%= category.id %>" class="text-primary">Show</a>
                    <a href="/panel/chat-categories/destroy/<%= category.id %>" class="text-danger">Delete</a>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('../../layouts/panel/footer'); %>


