<%- include('../../layouts/panel/header'); %>
<div class="container">
    <div class="jumbotron">
        <!--//-->
        <%- include("../../errors/errorMessages.ejs") %>
        <form action="/panel/product-categories/store" method="post">
            <!--//-->
            <div class="row">
                <div class="form-group col-md-3">
                    <select class="form-control"
                            name="brandId"
                            id="brandId">
                        <% for(let brand of brands) { %>
                            <option value="<%= brand.id %>"><%= brand.name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control"
                            name="status"
                            id="status">
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="PENDING">PENDING</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <input type="text"
                           class="form-control"
                           name="name"
                           id="name"
                           placeholder="Enter Name">
                </div>
                <div class="form-group col-md-3">
                    <input type="file"
                           name="image"
                           id="image"
                           class="form-control"
                           placeholder="Image ...">
                </div>
            </div>
            <!--//-->
            <div class="form-group">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<%- include('../../layouts/panel/footer'); %>


