<%- include('../../layouts/panel/header'); %>
<div class="container">
    <a href="/panel/users/create" class="btn btn-success">Register Users</a>
    <table class="table">
        <thead class="text-center">
        <tr>
            <th>#</th>
            <th>FullName</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Option</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <% for(let user of users) { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td>
                <a href="/panel/users/edit/<%= user.id %>" class="text-success">Edit</a>
                <a href="/panel/users/<%= user.id %>" class="text-primary">Show</a>
                <a href="/panel/users/destroy/<%= user.id %>" class="text-danger">Delete</a>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('../../layouts/panel/footer'); %>


