<%- include('../../layouts/panel/header'); %>
<div class="container max-auto">
    <a href="/panel/users/create" class="bg-green-500 text-white font-bold py-2 px-4 rounded">Register Users</a>
    <table class="table-fixed border-separate border border-green-800 mt-10">
        <thead>
        <tr>
            <th class="border-4 border-blue-100 text-center w-1/9">#</th>
            <th class="border-4 border-blue-100 text-center w-1/4">FullName</th>
            <th class="border-4 border-blue-100 text-center w-1/4">UserName</th>
            <th class="border-4 border-blue-100 text-center w-1/4">Email</th>
            <th class="border-4 border-blue-100 text-center w-1/4">Option</th>
        </tr>
        </thead>
        <tbody>
        <% for(let user of users) { %>
        <tr>
            <td class="border-4 border-green-100 text-center"><%= user.id %></td>
            <td class="border-4 border-green-100 text-center"><%= user.first_name %> <%= user.last_name %></td>
            <td class="border-4 border-green-100 text-center"><%= user.username %></td>
            <td class="border-4 border-green-100 text-center"><%= user.email %></td>
            <td class="border-4 border-green-100 text-center">
                <a href="/panel/users/edit/<%= user.id %>" class="text-green-500 font-bold">Edit</a>
                <a href="/panel/users/<%= user.id %>" class="text-blue-500 font-bold">Show</a>
                <a href="" class="text-red-500 font-bold">Delete</a>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('../../layouts/panel/footer'); %>


