<%- include('../../layouts/panel/header'); %>
<div class="container">
    <table class="table table-striped table-bordered table-borderless tab-content table-hover table-responsive-lg">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FullName</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">option</th>
        </tr>
        </thead>
        <tbody>
        <% for(let user of users) { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.first_name %> <%= user.last_name %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td>
                    <a href="/panel/users/edit/<%= user.id %>" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/panel/users/show/<%= user.id %>" class="btn btn-sm btn-success">Show</a>
                    <a href="" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('../../layouts/panel/footer'); %>


