<%- include('../../layouts/panel/header'); %>
<div class="container">
    <p><%= user.id %></p>
    <p><%= user.first_name %> <%= user.last_name %></p>
    <p><%= user.username %></p>
    <p><%= user.email %></p>
</div>
<%- include('../../layouts/panel/footer'); %>


