<%- include('../../layouts/panel/header'); %>
<div class="container">
    <h1></h1>
    <div class="jumbotron">
        <!--//-->
        <%- include("../../errors/errorMessages.ejs") %>
        <!--<form onsubmit="employeeEdit(employee.id)" id="formData">-->
        <form action="/panel/employees/update/<%= employee.id %>" method="post">
            <!--//-->
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="text"
                           class="form-control"
                           value="<%= employee.first_name %>"
                           name="first_name"
                           id="first-name"
                           placeholder="Enter First Name">
                </div>
                <div class="form-group col-md-6">
                    <input type="text"
                           class="form-control"
                           value="<%= employee.last_name %>"
                           name="last_name"
                           id="last-name"
                           placeholder="Enter Last Name">
                </div>
            </div>
            <!--//-->
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="text"
                           class="form-control"
                           value="<%= employee.username %>"
                           name="username"
                           id="username"
                           placeholder="Enter User Name">
                </div>
                <div class="form-group col-md-6">
                    <input type="email"
                           class="form-control"
                           value="<%= employee.email %>"
                           name="email"
                           id="email"
                           placeholder="Enter Email">
                </div>
            </div>
            <!--//-->
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="password"
                           class="form-control"
                           name="password"
                           id="password"
                           placeholder="Password">
                </div>
                <div class="form-group col-md-6">
                    <input type="password"
                           class="form-control"
                           name="confirmation_password"
                           id="confirmation-password"
                           placeholder="Confirmation Password">
                </div>
            </div>
            <!--//-->
            <div class="row">
                <div class="form-group col-md-12">
                <textarea class="form-control"
                          name="home_address"
                          id="home-address"
                          placeholder="Enter Home Address"
                          rows="5">
                          <%= employee.home_address %>
                </textarea>
                </div>
            </div>
            <!--//-->
            <div class="row">
                <div class="form-group col-md-12">
                <textarea class="form-control"
                          name="work_address"
                          id="work-address"
                          placeholder="Enter Work Address"
                          rows="5">
                          <%= employee.work_address %>
                </textarea>
                </div>
            </div>
            <!--//-->
            <div class="form-group">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<!--<script src="js/panel/employees/edit.js"></script>-->
<!--<script>
    $( "#formData" ).submit(function() {

    var formData = new FormData();
    formData.append( 'formData', input.files[0] );

    $.ajax({
        url: 'localhost:8000/panel/employees/update' + id,
        type: 'post',
        data: formData
    })
        .success(function(data) {
            if (data.success) {
                // Lazy: refresh window
                window.location.reload();
            }
        })
        .error(function() {
            // Show an error or something fancy
        });
    });
</script>-->
<%- include('../../layouts/panel/footer'); %>


