<%- include('../../layouts/panel/header'); %>
<div class="container">
    <h3><%= title %></h3>
    <a href="/panel/employees/create" class="btn btn-success">Register Employees</a>
    <table class="table table-striped table-bordered table-borderless tab-content table-hover table-responsive-lg">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FullName</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">option</th>
        </tr>
        </thead>
        <tbody>
        <% for(let employee of employees) { %>
            <tr>
                <td><%= employee.id %></td>
                <td><%= employee.first_name %> <%= employee.last_name %></td>
                <td><%= employee.username %></td>
                <td><%= employee.email %></td>
                <td>
                    <a href="/panel/employees/edit/<%= employee.id %>" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/panel/employees/show/<%= employee.id %>" class="btn btn-sm btn-success">Show</a>
                    <a href="" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('../../layouts/panel/footer'); %>


