<%- include('../../layouts/panel/header'); %>
<div class="container">
    <p><%= employee.id %></p>
    <p><%= employee.first_name %> <%= employee.last_name %></p>
    <p><%= employee.username %></p>
    <p><%= employee.email %></p>
</div>
<%- include('../../layouts/panel/footer'); %>


